// Colours
$dark-grey: #333;
$med_grey: #888;
$light-grey: #eee;
$white: #fff;
$table-heading-color: #229;
$table-row-even-color: #224;
$table-row-odd-color: #223;
$table-row-border-bottom-color: #666;
$table-row_hover-color: #227;
$summary-bk-color: #113;
$primary-color: rgb(23, 184, 106);
$secondary-color: rgb(233, 233, 55);
$modal-bk-color: rgb(12, 12, 66);

$cancel-color: rgb(212, 59, 59);

$font-stack: "Poppins", sans-serif;
